/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Estilos globais adicionais */
@media screen and (min-width: 1024px) {
    .only-mobile {
        display: none !important;
    } 
}

@media screen and (max-width: 1023px) {
    .only-desktop {
        display: none !important;
    }
}