:root {
    /* main colors */
    --primary-color: #E23131;
    --secondary-color: #E38282;

    --color-1: #2b4743;
    --color-2: #8c3839;
    --color-3: #cedeeb;
    --color-4: #da7073;
    --color-5: #dda83f;
    --color-6: #ffd3db;

    /* gray-scale colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --text-color: #282828;
    --color-gray: #576563;
    --color-light-gray: #eef5f4;
    --color-medium-gray: #98a5a3;
    --color-dark-gray: #203736;
    --color-gray-border: #203736;

    /* fonts variables */
    --title-font: "Glacial Indifference Bold", sans-serif;
    --title-weight: 700;
    --text-font: "Hanken Grotesk", sans-serif;
    --text-weight: 400;
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --text-font-size: 16px;
    --line-height: 125%;

    /* transition */
    --transition-speed: 0.5s;
    --transition-movement: ease;
    --transition: var(--transition-speed) var(--transition-movement) all;
}